{% extends '/home/base.html.twig' %}
{% block title %}Events & People{% endblock %}
{% block pageContent %}

<div align="center" id="space">
    <input class="input1" type="text" name="search" placeholder="Search Event">
</div>

<br>
{#<div align="center">#}
    {#<div id="map"style="width:1200px;height:800px;background:purple"></div>#}
    {#<script>#}
        {#function initMap() {#}
            {#var center = {lat: 42.662369, lng: 23.373397};#}
            {#var map = new google.maps.Map(document.getElementById('map'), {#}
                {#zoom: 15,#}
                {#center: center#}
            {#});#}
            {#var marker = new google.maps.Marker({#}
                {#position: center,#}
                {#map: map#}
            {#});#}
        {#}#}
        {#/*<![CDATA[*/#}
        {#var arrayLatitude;#}
        {#var arrayLongitude;#}
        {#var lats = [[${latitudes}]];#}
        {#var longs = [[${longitudes}]];#}
        {#for (i = 0; i < lats.length; i++) {#}
            {#marker = new google.maps.Marker({#}
                {#position: new google.maps.LatLng(lats[i], longs[i]),#}
                {#map: map#}
            {#});#}
            {#/*]]>*/#}
        {#}#}
    {#</script>#}
    {#<script async defer#}
            {#src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8SYKd91aaFo6L3B-sq4tbSHa-wHzuByE&callback=initMap">#}
    {#</script>#}
{#</div>#}

<br>
<div class="transbox">
    <p align="center" class ="specialText">
        <span class="blue"> INFO </span>
    </p>
    <p id="info" class ="specialText">
        <span class="blue"> Event name: </span> My first event
        <br>
        <span class="blue"> Games at the event: </span> Seven Wonders
        <br>
        <span class="blue"> Date: </span> 14.03.2018
        <br>
        <span class="blue"> Place: </span> Mazeto na Tosho
        <br>
        <span class="blue"> Players: </span> todor.domitrov2000@gmail.com, cenkocakov@gmail.com
</div>
</p>
<br>
<p align="center" class ="specialText">
    <a><button class="create button1"><b>Create an Event</b></button></a>
    &nbsp OR
    <a><button  button class="create button1"><b>See All Events</b></button></a>
</p>
{% endblock %}
