{% extends '/home/base.html.twig' %}
{% block title %}Trade{% endblock %}
{% block sidebar %}
    <a style="pointer-events: none; cursor: default;" id = "exception"> <img src="{{ asset('build/images/logo.png') }}" width="108" height="46" style="vertical-align: middle"> </a>
    <a href="/BoardFind/Home">Home</a>
    <a href="/BoardFind">Events & People</a>
    <a class="active" href="/EventsAndPeople/Trade">Trade</a>
    <a href="/BoardFind/Trade">Chat</a>
    <a href="/BoardFind/Account">Account</a>
    <a href="/BoardFind/About">About us</a>
{% endblock %}
{% block pageContent %}
    <p align = "center">
        <span class="tradetitle"> Trading Games </span>
    </p>
    <br>

    <div align = "center">
        <a href = "/BoardFind/Trade/RegisterOffer" ><button class = "create3 button11" ><b>+ Create an Offer</b></button></a>
    </div>
    <br>

    <div class = "transbox3">
        <br>
        <p class = "trade">
            <img class= "boardpic" src="{{ asset('build/images/trump.jpg') }}"> The Offert Title Will Be Here
            <span class = "gameprice"> 100$ </span>
            <button class= "create2 button8"><b>Details</b></button>
        </p>
        <br>
        <p class = "trade">
            <img class = "boardpic" src="{{ asset('build/images/monopoly.jpg') }}"> The Offert Title Will Be Here
            <span class = "gameprice"> 30$ </span>
            <button class = "create2 button8"><b>Details</b></button>
        </p>
        <br>
    </div>
    <br>
{% endblock %}